{% extends 'base.html' %}



{% block content %}

<div class="text-center">
	<br>
	<br>
	<br>
  <img src="/media/{{ img }}" class="image rounded" alt="...">
</div>


<div class="text-center">
	<br><br><br>
	
	<h2>{{ name }}</h2>

</div>

<br> <br> <br>




<h5>Profile</h5>

<ul>
	<li>A qualified and experienced professional with around 4+ years’ experience in IT industry with proven expertise in the latest trends and techniques of the field in terms of development of latest technology</li>

	<li>Professional on various technologies with multi functional experience in Python(PHP, SQL, CSS, JAVA, OOPS,C).</li>

	<li>Extensively worked on Python frameworks Django, Tkinter, Kivy.</li>

	<li>Extensively worked on Linux servers.</li>

	<li>Worked on BigData(Apache Spark).</li>

	<li>Worked on Machine learning, Deep Learning*.</li>

	<li>Made various projects on IOT (Internet of Things) over Arduino and Raspberry PI.</li>

	<li>Now days practicing on (Embedded systems and Assembly language)*</li>
</ul>

<p>In depth exposure to business processes across multiple domains having ability to set entrepreneurial direction in development fields.</p>

<br><br>

<h5>Professional Expertise</h5> <br>

<h6>IIHT Limited</h6>

<ul>
	<li>Assisting the team for development of Python based projects.</li>

	<li>Provide technical leadership while estimating and evaluating the effort/ schedules and managed the team and its grievances while training them on the project architectures.</li>

	<li>Responsible for Designing, Testing, Implementing & maintaining the processes developed during the project while identifying and supervising risk-reduction technical investigations relative to product development projects.</li>

	<li>Worked on various projects based on Machine Learning, IoT.</li>
</ul>





{% endblock content %}